.container {
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    background-color: rgb(113, 188, 55);
    width: 35%;
    height: 10rem;
    justify-content: center;
    align-items: center;
    align-self: center;
}